@model IA_Ecom.ViewModels.ProductViewModel;
<!-- DETAIL SECTION -->
    <section id="prod-details" class="section">
        <div class="section_content__container grid-two">

            <div class="product-image-show">
                <img src="../img/product0.png" class="main-img" alt="product0" id="MainImg">
                <div class="small-img-group">
                    <div class="small-img-col">
                        <img src="/img/product0.png" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="/img/product14.png" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="/img/product12.png" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="/img/product1.png" class="small-img">
                    </div>
                </div>
            </div>
            <div class="product-info-detail">
                <h6>Home / T-Shirt</h6>
                <h4 class="product-title">Men's Shoes - White</h4>
                <h2 class="product-info">$139.00</h2>
                <form action="#" method="post" class="user-form">
                    <div class="form-group">
                        <select id="select-size" name="selectSize">
                            <option>Select Size</option>
                            <option>XL</option>
                            <option>XXL</option>
                            <option>small</option>
                            <option>Large</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="number">Quantity</label>
                        <input type="number" id="number" name="name" class="user-form__input" value="1" required>
                    </div>
                    <button class="button">Add To Cart</button>
                </form>
                <h4>Product Details</h4>
                <span>The Gildan Ultra Shoe is made from a substantial 6.0 oz. per sq. yd. fabric constructed from 100% cotton, this classic fit preshrunk jersey knit provides unmatched comfort with each wear. Featuring a taped neck and shoulder, and a seamless double-needle collar, and available in a range of colors, it offers it all in the ultimate head-turning package.</span>
            </div>
        </div>
    </section>

