@{
ViewData["Title"] = "About Us";
Layout = "~/Views/Home/_PageLayout.cshtml";
}

<section class="section">
    <h2 class="section-title">@ViewData["Title"]</h2>
    <p class="title-info">We Are Simon Shoes.</p>

</section>