@model IA_Ecom.ViewModels.UserViewModel

<div class="card">
    <div class="">
        <h3>Create / Edit User</h3>
        <form asp-controller="Admin" asp-action="EditUser" id="userForm" class="user-form">
            @* <div class="form-group"> *@
            @*     <label asp-for="@Model.User.Username">Username</label> *@
            @*     <input asp-for="@Model.User.Username" class="user-form__input form-control" placeholder="Enter your name" name="username" required> *@
            @* </div> *@

            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input type="email" asp-for="Email" class="user-form__input form-control" placeholder="Enter your email" required>
            </div>
            <div class="horizontal-group">
                <div>
                    <label asp-for="FirstName">FirstName</label>
                    <input asp-for="FirstName" class="user-form__input form-control" placeholder="Enter your FirstName" required>
                </div>
                <div>
                    <label asp-for="LastName">LastName</label>
                    <input asp-for="LastName" class="user-form__input form-control" placeholder="Enter your LastName" required>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Role">Role</label>
                <select asp-for="Role" asp-items="@Model.RoleOptions" id="role">
                    <option value="">Select a Role</option>
                </select>
            </div>

            <input type="hidden" asp-for="UserId" required>
            <button type="submit" class="button">Save User</button>
        </form>

    </div>
</div>
