@model IA_Ecom.ViewModels.ProfileViewModel
@{
    ViewData["Title"] = "Edit Profile";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<div class="page-title">
    <h2>Edit Profile</h2>
</div>
<div class="card grid-two w-1000">
    <form id="userForm" class="">
        <div class="form-group">
            <label for="fullName">Full Name</label>
            <input type="text" id="fullName" class="user-form__input form-control" placeholder="Enter your full name" name="fullName" required>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" class="user-form__input form-control" placeholder="Enter your email" required>
        </div>

        <div class="form-group">
            <label for="role">Role</label>
            <select name="role" id="role">
                <option value="admin">Admin</option>
                <option value="editor">Editor</option>
                <option value="viewer">Viewer</option>
            </select>
        </div>

        <button type="submit" class="button">Update</button>
    </form>
    <div class="profile-image">
        <div class="profile-image header__profile-img">
            <i class="bx bxs-user-circle profile-icon"></i>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const userForm = document.getElementById('userForm');
        const logoutButton = document.getElementById('logout');

        userForm.addEventListener('submit', function (e) {
            e.preventDefault();
            const email = userForm.email.value;
            const fullName = userForm.fullName.value;
            const role = userForm.role.value;

            // Perform form submission logic here
        });

        logoutButton.addEventListener('click', function () {
            logout();
        });

        function logout() {
            window.location.href = '../login/login.html';
        }
    });
</script>
